<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:insert="fragments/general.html"> </div>
<h1>Employee Information System</h1>
<h2>Add Employee</h2>
<hr>
<form action="#" th:action="@{/saveEmployee}" th:object="${employee}" method="POST">
<input type="text" th:field="*{FirstName}" placeholder="Employee first name"><br>
<input type="text" th:field="*{LastName}" placeholder="Employee last name"><br>
<input type="text" th:field="*{role}" placeholder="Employee role"><br>
<button class="btn btn-success" type="submit">Save Employee</button>
</form>
<hr>
<a class="btn btn-primary" th:href="@{/employeeList}">Back to Employee List</a>

</body>
</html>