<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="/css/style.css" rel="stylesheet">
<title>Employee Information System</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="fragments/general.html :: header"> </div>
	<div align="center">
	<h1>Employee List</h1>
	<form th:action="@{/employeeList}" method="GET">
	<input type="text" name="keyword">
	<button type="submit">Search</button>
	</form>
	<table class="table text-center" border="1">
		<thead>
			<tr>
			<th class="text-center">Employee First Name</th>
			<th class="text-center">Employee Last Name</th>
			<th class="text-center">Employee Role</th>
			<th class="text-center">Actions</th>
			</tr>
		</thead>	
		<tbody>
		<tr th:each="employee : ${listEmployees}">
			<td th:text = "${employee.firstName}"></td>
			<td th:text = "${employee.lastName}"></td>
			<td th:text = "${employee.role}"></td>			
			<td>
			<a class="btn btn-success" th:href="@{/showFormForUpdate/{id}(id=${employee.id})}">Update</a>
			<a class="btn btn-danger" th:href="@{/deleteEmployee/{id}(id=${employee.id})}">Delete</a>
			</td>
		</tr>
		</tbody>
	</table>
	</div>
	
</body>
</html>